core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
bakershub/__pycache__/settings.cpython-312.pyc
bakershub/__pycache__/settings.cpython-312.pyc
